<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../Content/Style.css" rel="stylesheet" />
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h2><strong>Welcome to Home Page</strong></h2>
    <h5 style="color:orange">New user please <strong>Register</strong> to access!</h5>
    <h5 style="color:green">Registered user please <b>Login & Authenticate</b> yourself!</h5>
    <hr />
    <p>{{data}}</p>
</body>
</html>